body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.btnlog button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
}

.btnlog button:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: center;
    margin: 12px 0 12px 0;
}

img.avatar {
    width: 10%;
    border-radius: 30%;
}

.container {
    padding: 6px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
}

td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

form {border: 3px solid #f1f1f1;}

.btn1 button {
    background-color: #4CAF50;
    border: 1px solid green; 
    color: white; 
    padding: 10px 24px; 
    cursor: pointer;  
}

.btn2 button {
    background-color: #FF0000;
    border: 1px solid red; 
    color: white; 
    padding: 10px 24px;
    cursor: pointer; 
}

.btn3 button {
    background-color: #0000FF;
    border: 1px solid blue; 
    color: white; 
    padding: 10px 24px;
    cursor: pointer; 
}

#myselect { 
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
} 
#myselect option { 
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.bordered {
    max-width: 2000px;
    height: 700px;
    padding: 20px;
    border: 10px groove blue;
}


